<p>listado de Heroes</p>
<!--<u>
    <li>
        {{ heroes[0] }}
    </li>
    <li>
        {{ heroes[1] }}
    </li>
    <li>
        {{ heroes[2] }}
    </li>
    <li>
        {{ heroes[3] }}
    </li>
    <li>
        {{ heroes[4] }}
    </li>
</u>-->
<div *ngIf="heroeBorrado != '' ; else noBorrado">
    <h3>Heroe borrado: <small>{{ heroeBorrado }}</small></h3>
</div>
<ng-template #noBorrado>
    <h3>No ha borrado nada</h3>
</ng-template>

<button (click)="borrarHeroe()">Borrar Heroe</button>
<u>
    <li *ngFor="let heroe of heroes; let i = index">
        {{ i + 1 }} -
        {{ heroe }}
    </li>
</u>
